body{
    margin: 0px;
    padding: 0px;
}
/*Top Header*/
.Top
{
    position: fixed;
  height: 100px;
  width: 100%;
  z-index: 1;
  border: 0.5px inset black;  
  background-color: blue;
  background-image: linear-gradient(blue,white);
}
.logo
{
    width: 30%;
    height:100px;
    
}
/*Top right side menu*/
.Register{
    height: 100px;
    margin-top:-120px;
	list-style-type: none;
       
}
.Registermenu{
        float: right;        
        width: 15%;
}
.Registermenu a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;

}
.Registermenu a:hover {
    color:wheat;
    font-size: 22px;
}
.Registermenu1{
        float: right;
        width: 8%;
}
.Registermenu1 a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.Registermenu1 a:hover{
    color:wheat;
    font-size: 22px;
}
.Registermenu2{
        float: right;
        width: 12%;
}
.Registermenu2 a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}
.Registermenu2 a:hover{
    color:wheat;
    font-size: 22px;
}
.Registermenu3 a{
    width: 10%;
    display:block;
    padding:  8px 10px;
    text-decoration: none;
    color:whitesmoke;
    float:right;
    font-size: 20px;
}

.Registermenu3 a:hover{
    color:wheat;
    font-size: 22px;
}
.pagesmenu{
    position:fixed;
    width: 60%;
    margin-left: 40%;
    height:50px;
    z-index: 1;
    background-color: black;
    margin-top:80px;
}
.topmenus{
    height: 100px;
	list-style-type: none;
        margin-top: 0px;
}
.topmenu{
        float: left;  
        width: 20%;
}
.topmenu a {
    display: block;
    padding:  3px 5px;
    text-decoration: none;
    color: white;
    padding-left: 20px;
    font-size: 30px;
}
.topmenu a:hover {
    color:wheat;
    font-size: 32px;
}
.sliding
{
    border:5px solid;
    height: 60px;
    width: 25%;
    
    position: absolute;
    margin-top: 180px;
    margin-left:38%;
    
}
.sliding p{
    color: red;
    text-align: center;
    font-size: 24px;
    font-family: 'Tangerine', cursive;
    margin-top: 4px;
    
    
}
.addcon
{
    border:5px solid;
    height: auto;
    width: 100%;
    position: absolute;
    margin-top: 250px;
}
.imgtable
{
    height:auto;
    width: 100%;
    position: absolute;
    border: 2px solid;
    margin-top:590px; 
}


