
body{
    margin: 0px;
    padding: 0px;
}
/*Top Header*/
.Top
{
    z-index: 2;
    position: fixed;
  height: 100px;
  width: 100%;
  border: 0.5px inset black;  
  background-color: blue;
  background-image: linear-gradient(blue,white);
}
.logo
{
    width: 30%;
    height:100px;
    
}
/*Top right side menu*/
.Register{
   
    height: 100px;
	list-style-type: none;
        margin-top: -120px;
        
}
.Registermenu{
        float: right;        
        width: 15%;
}
.Registermenu a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;

}
.Registermenu a:hover {
    color:wheat;
}
.Registermenu1{
        float: right;
        width: 10%;
}
.Registermenu1 a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;
}
.Registermenu1 a:hover{
    color:wheat;
}
.Registermenu2{
        float: right;
        width: 17%;
}
.Registermenu2 a {
    display: block;
    padding:  8px 10px;
    text-decoration: none;
    color: whitesmoke;
}
.Registermenu2 a:hover{
    color:wheat;
}
.Registermenu3 a{
    width: 12%;
    display:block;
    padding:  8px 10px;
    text-decoration: none;
    color:whitesmoke;
    float:right;
}

.Registermenu3 a:hover{
    color:wheat;
}
.pagesmenu{
    z-index: 2;
    position:fixed;
    width: 60%;
    margin-left: 40%;
    height:50px;
    background-color: black;
    margin-top: 70px;
}
.topmenus{
    height: 100px;
	list-style-type: none;
        margin-top: 0px;
}
.topmenu{
        float: left;  
        width: 20%;
}
.topmenu a {
    display: block;
    padding:  3px 5px;
    text-decoration: none;
    color: white;
    padding-left: 10px;
  
}
.topmenu a:hover {
    color:wheat;
    font-size:12px;
}
.flighthead
{
    height:40px;
    width: 100%;
    border:5px solid black;
    margin-top: 150px;
    background-color:silver;
    position: absolute;
}
.flighthead2
{
    height: 40px;
    width: 40%;
    border:5px solid black;
    margin-top: -60px;
    background-color:silver;
    position: absolute;
    margin-left: -5px;
}.flighthead3
{
    height: 40px;
    width: 60%;
    border:5px solid black;
    margin-top: -60px;
    margin-left: 50%;
    background-color:silver;
    position: absolute;
}
.search1
{
    height: auto;
    width: 100%;
    margin-top: 280px;
    position: absolute;
    
}
.search2
{
    height: auto;
    width: 40%;
    margin-top: 100px;
    position: absolute;
    
}
.search3
{
    height: auto;
    width: 60%;
    margin-top: 100px;
    position: absolute;
    margin-left: 40%;
}
table{
    border-collapse: collapse;
}
